* {
  box-sizing: border-box;
}

body {
  margin: 0;
	padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

h1 {
  text-align: center;
  padding: 0.5em;
  font-size: 1.5em;
}

.quiz {
  margin: 0 1em;
}

p {
  margin: .5em 0 0 0;
}

button{
  font-size: 1em;
  background-color: #5bc0de;
  margin: .5em 0;
  border: 1px solid blue;
  padding: .5em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
  width: 100%;
  
}
button:hover, button:active{
  background-color: aqua;
  border: 1px solid blue;
}

@media screen and (min-width: 1250px) {
  body {
    margin: 0 auto;
    width: 1000px;
  }
}

@media screen and (min-width: 1920px) {
  body {
    font-size: 2em;
    width: 1250px;
  }
}
